# ===============================

# Python

# ===============================

**pycache**/
*.pyc
*.pyo
*.pyd
*.log

# ===============================

# Virtual Environment

# ===============================

venv/
docai_env/
env/
.venv/

# ===============================

# Outputs & Results

# ===============================

sample_output/
*.json
*.csv

# ===============================

# Models

# ===============================

*.pt
*.onnx
*.engine

# ===============================

# Logs

# ===============================

document_ai.log

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# IDE

# ===============================

.vscode/
.idea/

# ===============================

# Test Images

# ===============================

test_ocr.jpg
*.png
*.jpg
*.jpeg
